{:highlights [{:id #uuid "656d4263-7a2d-4fb7-ab88-b092b57e4380",
               :page 14,
               :position {:bounding {:x1 72.22916793823242,
                                     :y1 511.4895782470703,
                                     :x2 160.02962112426758,
                                     :y2 533.4895782470703,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.22916793823242,
                                   :y1 511.4895782470703,
                                   :x2 160.02962112426758,
                                   :y2 533.4895782470703,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 72.23958206176758,
                                   :y1 514.8229522705078,
                                   :x2 150.76042556762695,
                                   :y2 531.4270782470703,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 14},
               :content {:text "SAL-SBS-01"},
               :properties {:color "yellow"}}
              {:id #uuid "656d427b-4584-4cc5-930e-6049f0185099",
               :page 21,
               :position {:bounding {:x1 72.22916793823242,
                                     :y1 502.5104169845581,
                                     :x2 172.27083206176758,
                                     :y2 524.5104169845581,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.22916793823242,
                                   :y1 502.5104169845581,
                                   :x2 172.27083206176758,
                                   :y2 524.5104169845581,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 72.23958206176758,
                                   :y1 505.8437604904175,
                                   :x2 172.27083206176758,
                                   :y2 522.4479169845581,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 21},
               :content {:text "SAL-CMS-01]"},
               :properties {:color "yellow"}}
              {:id #uuid "656d42df-8600-45c2-8946-9c486713ea6d",
               :page 23,
               :position {:bounding {:x1 317.6562690734863,
                                     :y1 515.6979370117188,
                                     :x2 403.04167556762695,
                                     :y2 537.6979370117188,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 317.6562690734863,
                                   :y1 515.6979370117188,
                                   :x2 403.04167556762695,
                                   :y2 537.6979370117188,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 23},
               :content {:text "SAL-VST"},
               :properties {:color "yellow"}}
              {:id #uuid "6578fbd6-95cf-46ab-be13-009f4c945e69",
               :page 29,
               :position {:bounding {:x1 72.23958587646484,
                                     :y1 405.71875,
                                     :x2 160.36270904541016,
                                     :y2 427.71875,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.23958587646484,
                                   :y1 405.71875,
                                   :x2 160.36270904541016,
                                   :y2 427.71875,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 100.22916412353516,
                                   :y1 409.0520935058594,
                                   :x2 142.07291412353516,
                                   :y2 425.65625,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 29},
               :content {:text "SAL-LBC-02"},
               :properties {:color "purple"}}
              {:id #uuid "6578fddf-5ddc-40c3-93b7-0c0b64c2b5b6",
               :page 30,
               :position {:bounding {:x1 72.22916412353516,
                                     :y1 711.1042022705078,
                                     :x2 160.38541412353516,
                                     :y2 733.1042022705078,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.22916412353516,
                                   :y1 711.1042022705078,
                                   :x2 160.38541412353516,
                                   :y2 733.1042022705078,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 72.23958587646484,
                                   :y1 714.4375152587891,
                                   :x2 160.38541412353516,
                                   :y2 731.0417022705078,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 30},
               :content {:text "SAL-LBC-05"},
               :properties {:color "purple"}}
              {:id #uuid "657900d9-44f6-48b1-9155-08149d6f5d85",
               :page 30,
               :position {:bounding {:x1 72.23958587646484,
                                     :y1 1025.3333282470703,
                                     :x2 160.38541412353516,
                                     :y2 1047.3333282470703,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.23958587646484,
                                   :y1 1025.3333282470703,
                                   :x2 160.38541412353516,
                                   :y2 1047.3333282470703,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 100.22916412353516,
                                   :y1 1028.6667022705078,
                                   :x2 160.38541412353516,
                                   :y2 1045.2708282470703,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 30},
               :content {:text "SAL-LBC-06"},
               :properties {:color "purple"}}
              {:id #uuid "6579095b-17ae-4dd8-95c1-a001a095f1ff",
               :page 35,
               :position {:bounding {:x1 72.22916412353516,
                                     :y1 776.3333740234375,
                                     :x2 161.37500762939453,
                                     :y2 798.3333740234375,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.22916412353516,
                                   :y1 776.3333740234375,
                                   :x2 161.37500762939453,
                                   :y2 798.3333740234375,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 72.23958587646484,
                                   :y1 779.6666870117188,
                                   :x2 152.14583587646484,
                                   :y2 796.2708740234375,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 35},
               :content {:text "SAL-LCC-08"},
               :properties {:color "purple"}}
              {:id #uuid "65790d87-a805-4d75-91e4-aedac7f27275",
               :page 59,
               :position {:bounding {:x1 72.23958587646484,
                                     :y1 1142.7396240234375,
                                     :x2 168.81250762939453,
                                     :y2 1164.7396240234375,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.23958587646484,
                                   :y1 1142.7396240234375,
                                   :x2 168.81250762939453,
                                   :y2 1164.7396240234375,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 100.22916412353516,
                                   :y1 1146.0729370117188,
                                   :x2 159.58333587646484,
                                   :y2 1162.6771240234375,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 59},
               :content {:text "SAL-WGS-08"},
               :properties {:color "purple"}}
              {:id #uuid "65790ef7-0420-45f8-ab24-c0fef09b7ced",
               :page 29,
               :position {:bounding {:x1 72.2270278930664,
                                     :y1 587.656270340085,
                                     :x2 160.51998138427734,
                                     :y2 609.656270340085,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.2270278930664,
                                   :y1 587.656270340085,
                                   :x2 160.51998138427734,
                                   :y2 609.656270340085,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 100.22916412353516,
                                   :y1 590.9895833283663,
                                   :x2 142.07291412353516,
                                   :y2 607.593770340085,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 29},
               :content {:text "SAL-LBC-03"},
               :properties {:color "purple"}}
              {:id #uuid "65791f17-c646-4ed3-b105-f2c7aed8b3e4",
               :page 75,
               :position {:bounding {:x1 67.17708587646484,
                                     :y1 716.0104370117188,
                                     :x2 168.39395904541016,
                                     :y2 738.0104370117188,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 67.17708587646484,
                                   :y1 716.0104370117188,
                                   :x2 168.39395904541016,
                                   :y2 738.0104370117188,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 72.23958587646484,
                                   :y1 719.3437652587891,
                                   :x2 150.01041412353516,
                                   :y2 735.9479370117188,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 75},
               :content {:text "[SAL-DMS-02"},
               :properties {:color "purple"}}
              {:id #uuid "65792ed9-2b45-4632-b28c-f54ec60ef5a3",
               :page 77,
               :position {:bounding {:x1 72.23958587646484,
                                     :y1 204.5521240234375,
                                     :x2 168.41666412353516,
                                     :y2 226.5521240234375,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.23958587646484,
                                   :y1 204.5521240234375,
                                   :x2 168.41666412353516,
                                   :y2 226.5521240234375,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 100.22916412353516,
                                   :y1 207.885498046875,
                                   :x2 159.18750762939453,
                                   :y2 224.4896240234375,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 77},
               :content {:text "SAL-DMS-05"},
               :properties {:color "purple"}}
              {:id #uuid "65792fbc-2c85-4e8f-afbf-22340821283e",
               :page 78,
               :position {:bounding {:x1 72.23958587646484,
                                     :y1 1005.6875305175781,
                                     :x2 162.73770904541016,
                                     :y2 1027.6875305175781,
                                     :width 992.4,
                                     :height 1402.7999999999997},
                          :rects ({:x1 72.23958587646484,
                                   :y1 1005.6875305175781,
                                   :x2 162.73770904541016,
                                   :y2 1027.6875305175781,
                                   :width 992.4,
                                   :height 1402.7999999999997}
                                  {:x1 100.22916412353516,
                                   :y1 1009.0208740234375,
                                   :x2 144.44791412353516,
                                   :y2 1025.6250305175781,
                                   :width 992.4,
                                   :height 1402.7999999999997}),
                          :page 78},
               :content {:text "SAL-ACS-02"},
               :properties {:color "purple"}}],
 :extra {:page 79}}
